* {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 5vh;
  margin: 0.5em;
}

.trybewarts-login {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.trybewarts-login input {
  width: 35%;
}

.trybewarts-login button {
  width: 20%;
}

#trybewarts-header-title {
  color: white;
  text-transform: uppercase;
}