* {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

main {
  align-items: center;
  display: flex;
  height: 85vh;
  justify-content: space-around;
}

.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 5vh;
  margin: 0.5em;
}

.trybewarts-login {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.trybewarts-login input {
  width: 35%;
}

.trybewarts-login button {
  width: 20%;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#evaluation-form input, #evaluation-form select {
  margin: 0.25em;
}

#field-agreement, #submit-btn {
  margin-top: 0.75em;
}

#field-comment {
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
}

#field-name, #field-email-house {
  display: flex;
  justify-content: space-between;
}

#field-name input, #field-email-house input {
  width: 323px;
}

#field-email-house select {
  width: 327px;
}

#field-family, #field-subject {
  display: flex;
  flex-direction: column;
  margin: 0.25em;
}

#field-family label, #field-subject label {
  margin: 0.25em;
}

#field-rate {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75em;
}

#group-select {
  display: flex;
  justify-content: space-between;
}

#trybewarts-header-title {
  color: white;
  text-transform: uppercase;
}

#trybewarts-forms-logo {
  height: 500px;
}
